# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
~

# === CMake 生成文件 ===

# CMake 中间文件
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile

# 所有项目的构建目录
# 例如：
# build/
# build-debug/
# xxx/build/
**/build
**/build-*/


# === Clangd / IDE 缓存 ===

**/.cache/
**/.clangd/
**/.clangd-cache/
**/.clangd_index/

# 编译数据库
**/compile_commands.json


# === 临时文件 ===

~
*.swp
*.swo

